.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.container-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 600px;
  margin-bottom: 8px;

  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.spacer {
  flex: 1 1 auto;
}
